/**********
* Home page rules
**********/

.media-list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 40px;
}
.media-list .media-list-container {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
}

.media-list .media-list-container .item {
    flex-basis: 24%;
    margin: 4px;

    background: var(--color-black);

    padding-bottom: 15px;
    height: fit-content;
}

.media-list .media-list-container .tvshow {
    background: var(--color-black);
}

.media-list .media-list-container .movie {
    background: var(--color-blue);
}

.media-list .media-list-container .item .video {
    width: 100%;
}

.media-list .media-list-container .item .video iframe {
    width: 100%;
}

.media-list .media-list-container .item .title {
    color: #fff;
    font-weight: bold;

    padding: 8px;
    text-align: center;
    place-items: center;

}

.media-list .media-list-container .item .title:after {
    content: "";
    width: 75%;

    border-bottom: 1px solid var(--color-red);
    margin: 10px auto 0 auto;

    display: none;
}

.media-list .media-list-container .item .title .type {
    background-color: white;
    width: 50px;
    display: none;

}

.media-list .media-list-container .tvshow .title .type {
    color: var(--color-black);
}

.media-list .media-list-container .movie .title .type {
    color: var(--color-blue);
}

.media-list .media-list-container .item:hover .title:after {
    display: block;
}

.media-list .media-list-container .item:hover {
    text-decoration: none;
}

.media-list .media-list-container .item:hover .title .type {
    display: block;
}

.media-list .media-list-container .item .summary {
    display: none;
    color: #fff;
    padding: 8px 20px;
}

.media-list .media-list-container .button-delete {
    border: solid 0.5px ;

}


.media-list .media-list-container .item:hover .summary {
    display: block;
}


@media screen and (max-width: 768px) {
    .media-list .media-list-container .item {
        flex-basis: 100%;
    }
}